@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-size: 2.879vh;
  background-color: #232732;
  font-family: poppins;
  color: white;
}

.button {
  background-color: #24272c;
  height: 2.727em;
  width: 7.954em;
  border-radius: 1.09em;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: none;
  margin: 3em;
}

.button:hover {
  cursor: pointer;
}

/* Card.css */
.card {
  margin: 3em;
  width: 14.545em;
  height: 18.09em;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.25),
    18px 18px 36px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
}

.card-title {
  font-size: 1.045em;
  margin: 0;
}

.card-description {
  font-size: 0.636em;
  margin-top: 8px;
}

.profileIcons:hover {
  cursor: pointer;
}

#githubIcon {
  height: 100;
  width: 100;
}
